@model StockManagementWebApp.Models.Company
@{
    ViewBag.Title = "Create";
}

<h2>Create a Company Name</h2>
@using (Html.BeginForm("Create", "Company"))
{   @Html.LabelFor(m=>m.RegistrationCode)
    @Html.TextBoxFor(m => m.RegistrationCode)
    @Html.LabelFor(m => m.Name)
    @Html.TextBoxFor(m=>m.Name )
    @Html.HiddenFor(m=>m.Id)
    <input type="submit" value="Update"/>
}

