<!DOCTYPE html>
<html>
	<head>	
		<meta charset="utf-8" />			
		<meta name="viewport" content="width=device-width, initial-scale=1.0">		
		<title>@ViewBag.Title -Stock ManageMent System|Application</title>
		@Styles.Render("~/Content/css")
		@Scripts.Render("~/bundles/modernizr")
	
		
		<link rel="stylesheet" href="style.css"/>
	</head>
	
<body>
	<header id="header">	
				<div class="full_body ">
					<div  class="container">
			
						<nav>
							<ul id="menu">
								<li>@Html.ActionLink("Home","Index","Home")</li>
								<li>@Html.ActionLink("Categories", "Index", "Categories")</li>
                                <li>@Html.ActionLink("Company", "Index", "Companies")</li>
                                <li>@Html.ActionLink("Items", "Index", "Items")</li>
								<li><a href="#">CSS</a>
									<ul>
										<li><a href="#">Dropdown Item </a></li>
										<li><a href="#">Dropdown Item </a></li>
										<li><a href="#">Dropdown Item </a></li>
										<li><a href="#">Dropdown Item </a></li>
										<li><a href="#">Dropdown Item </a></li>
									</ul>			
								</li>
								<li><a href="#">Javascript</a></li>
								@Html.Partial("_LoginPartial")
							</ul>
							
						</nav>	
			
				</div>
			</div>	
	</header>

<div class="full_body">
	<div class="container maincontent">
	        @RenderBody()
	</div>
</div>

<div class="full_body ">
		<div class="container">
			<footer>
			
			<div id="usefull_link">
			<h2>Usefull link</h2>
				<a href="https://facebook.com/sourav4439">&#10148;Developer Profile</a><br />
			    
				
			</div>
			
			
			<div id="social_area">
				<h2>Stock management systems </h2>
				
				
					<ul>
						<li class="facebook"><a href="#" target="_blank"></a></li>
						<li class="twitter"><a href="#"></a></li>
						<li class="google"><a href="#"></a></li>
						<li class="youtube"><a href="#"></a></li>
					</ul>
					<p> &copy; @DateTime.Now.Year-All Rights Reserved by Sourav Singha</p>
				</div>
			
			<div id="any_query">
				<h2>Any Query</h2>
					
					<p>Mob:+880139214439</p>
					<p></p>
				
			</div>
			</footer>
		
		
		
		</div>
		
		
		
</div>	

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>	
	
</html>
<!--
<div class="full_body">
	<div class="fix container">
	


	</div>
</div>


-->
	